name: Assimilate
on: [push, pull_request]
jobs:
  check-bats-version:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        python-version: ["3.9", "3.x"]
      max-parallel: 6

    steps:
      - name: Checkout repository
      # uses: actions/checkout@v2
        uses: actions/checkout@v4
        with:
          submodules: true
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-node@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install Borg
        run: |
          sudo apt-get install libacl1-dev libacl1
          sudo apt-get install libssl-dev
          sudo apt-get install liblz4-dev libzstd-dev libxxhash-dev
          sudo apt-get install build-essential
          sudo apt-get install pkg-config python3-pkgconfig
          sudo apt-get install libfuse3-dev fuse3
      - name: Install packages
        run: |
          python -m pip install --upgrade pip
          pip install .
          pip install tox
          pip install coveralls
      - name: Run tests
        run: tox
      - name: Report test coverage
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          COVERALLS_SERVICE_NAME: github
        run: coveralls
